*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url("quoteGenerator_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    background-color: black;
    color: white;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 230px;
    background-color:white;
    border-radius: 8px;
    border: none;
    padding: 40px 40px 20px 40px;
    text-align: center;
}
#message{
    margin-bottom: 30px;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
#name{
    color: red;
    letter-spacing: 3px;
}
button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin-top: 25px;
    font-weight: 700;
}
button:hover{
    background-color: white;
    color: black;
}